<div class="main-information-self_safeness-container">
  <div class="safeness-title">
    <h1><span>Забочусь</span> о вас</h1>
    <h2><span>Ваше здоровье</span> - моя <span>репутация</span></h2>
  </div>
  <div class="main-information-self_safeness-content">
    <div class="main-information-safeness-image">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/angular-manicure.appspot.com/o/photo_2021-08-10_22-53-11%20(3).jpg?alt=media&token=7fedd181-acff-483f-9af2-63f64d1379d9"
        alt="Не удалось загрузить фото">
    </div>
    <div class="main-information-safeness-text-container">
      <div class="main-information-safeness-text-around">
        <div class="main-information-safeness-text">

        </div>
      </div>
    </div>
  </div>
</div>
